In [1]:
%load_ext zipline
%load_ext watermark
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
import pandas as pd
import numpy as np
from collections import OrderedDict
import pytz

# необходимые функции zipline
from zipline.api import (order, record, symbol, set_benchmark, order_target_percent, get_open_orders, order_target, 
                        schedule_function, date_rules, time_rules, order_percent, symbols)

# комиссии
from zipline.finance import commission

# выбор календаря по которому происходит торговля
from trading_calendars.always_open import AlwaysOpenCalendar

import zipline

# графика
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.dates as mdates
import matplotlib.ticker as ticker

# работа с временем
from datetime import datetime, date

# aинансовые данные
from yahoofinancials import YahooFinancials

# ignore warnings
import warnings

# отчёт
import pyfolio as pf

# import helper functions 
import qf_helper_functions as qf

import pypfopt
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

import pylab

from tqdm import tqdm

In [13]:
plt.style.use('default')
plt.rcParams['figure.figsize'] = [15, 7]
plt.rcParams['figure.dpi'] = 200
warnings.simplefilter(action='ignore', category=FutureWarning)

In [22]:
data = pd.read_csv("data/index.csv", index_col=0, delimiter=';', parse_dates=['Date'])

In [23]:
data.head()

                                 Price
Date
01 2017 00:00:00 GMT+0000        ,964,
02 2017 00:00:00 GMT+0000  ,995.54,3.2
03 2017 00:00:00 GMT+0000  ,1019.78,2.
04 2017 00:00:00 GMT+0000  ,1046.8,2.6
05 2017 00:00:00 GMT+0000  ,1163.73,11

In [27]:
for row in data['Price']:
    row = row.replace(',', '')

In [28]:
data.head()

                                 Price
Date
01 2017 00:00:00 GMT+0000        ,964,
02 2017 00:00:00 GMT+0000  ,995.54,3.2
03 2017 00:00:00 GMT+0000  ,1019.78,2.
04 2017 00:00:00 GMT+0000  ,1046.8,2.6
05 2017 00:00:00 GMT+0000  ,1163.73,11

In [24]:
data['Price'].plot()
plt.show()

TypeError: Empty 'DataFrame': no numeric data to plot